#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.btn {
  padding: auto;
  margin: 0.5rem;
}

.btn-primary {
  background-color: darkgreen;
  color: white;
  border: none;
  border-radius: 5px;
}
.btn-primary:hover {
  background-color: green;
}

.btn-secondary {
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 5px;
}
.btn-secondary:hover {
  background-color: red;
}
